body {
  height: 643px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
}
.calculator {
  border: 1px solid black;
  padding-bottom: 20px;
  border-radius: 16px;
  justify-content: space-between;
  background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
  height: 400px;
  width: 235px;
  box-shadow: 0px 9px 35px 10px rgba(0, 0, 0, 0.5);
}
.calculator:hover {
    box-shadow: 0px 9px 35px 10px #6a85b6;

}

.inputText {
  background-color: rgba(117, 6, 6, 0);
  color: rgb(0, 0, 0);
  border: none;
  height: 35px;
  width: 226px;
  text-align: left;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  font-size: 2rem;
  padding: 0%;
  margin-top: 16px;
  padding-left: 8px;
}

.answer {
  background-color: rgba(0, 0, 0, 0);
  color: rgb(0, 0, 0);
  border: none;
  height: 35px;
  width: 226px;
  text-align: right;
  font-size: 1.5rem;
  margin-top: 2px;
  padding-right: 6px;
}
.answer::placeholder {
  color: #000000;
  padding-right: 10px;
}

.btn-white {
  height: 45px;
  width: 45px;
  border: none;
  font-weight: 300;
  font-size: 20px;
  color: white;
  margin: 8px 5px 8px 5px;
  border-radius: 50%;
  background-color: #333333;
}

.btn-white:hover {
  color: black;
  background-color: white;
  cursor: pointer;
  transition: all 1s ease;
}

.btn-gray {
  color: rgb(207, 207, 207);
  background-color: rgb(0, 0, 0);
}

.btn-lg {
  width: 102px;
  border-radius: 30px 30px 30px 30px;
  text-align: left;
  padding-left: 17px;
}



footer {
  position: absolute;
  color: #000000;
  bottom: 0;
  right: 20px;
}
.link {
  color: black;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}
.link:hover {
  color: rgb(17, 27, 85);
}